In [1]:
import ATS_Analysis as ats
import pandas as pd
import numpy as np

In [2]:
breath_df, rn_df = ats.data_collect('P110')
breath_df = ats.collection_freq(breath_df, 10)
combi_df = ats.rolling_rass_combi(breath_df, rn_df)

['VentDB', 'VentDyssynchrony_db', 'local']
['BreathData_collection', 'LabData_collection', 'LogData_collection', 'PatientData_collection', 'RNData_collection', 'RTData_collection', 'TestData_collection', 'ValidatedData_collection', 'VentSettings_collection']

In [4]:
print(combi_df)
print(pd.notnull(combi_df['ds_freq']).any())
print(combi_df['ds_freq'].count())

                     RASS  patientID  ds_rolling  tot_rolling   ds_freq
2014-10-16 16:30:00    -2        NaN        87.0          170  0.511765
2014-10-16 20:00:00    -2        NaN       108.0          176  0.613636
2014-10-17 00:00:00    -2        NaN        53.0          177  0.299435
2014-10-17 04:00:00    -2        NaN        96.0          180  0.533333
2014-10-17 07:45:00    -2        NaN       103.0          186  0.553763
2014-10-17 13:00:00    -2        NaN        73.0          180  0.405556
2014-10-17 20:00:00    -2        110        45.0          186  0.241935
2014-10-18 00:00:00    -2        NaN       115.0          237  0.485232
2014-10-18 04:00:00    -1        NaN        50.0          192  0.260417
2014-10-18 16:00:00    -3        NaN       162.0          229  0.707424
2014-10-18 20:00:00    -2        110       205.0          255  0.803922
2014-10-19 00:00:00    -4        110        52.0          249  0.208835
2014-10-19 02:26:00     1        110       157.5          286  0.550699
2014-10-19 02:33:00    -2        NaN       118.5          213  0.556338
2014-10-19 03:00:00    -1        NaN        52.0          254  0.204724
2014-10-19 04:00:00    -4        NaN        50.5          258  0.195736
2014-10-19 08:00:00    -4        110        76.5          311  0.245981
2014-10-19 12:16:00    -5        110       155.0          262  0.591603
2014-10-19 15:53:00    -5        110         5.0          300  0.016667
2014-10-19 20:00:00    -5        NaN         1.0          300  0.003333
2014-10-20 00:00:00    -5        NaN         4.0          300  0.013333
2014-10-20 04:00:00    -5        NaN         4.0          300  0.013333
2014-10-20 08:00:00    -5        110         1.0          299  0.003344
2014-10-20 12:00:00    -5        110        21.0          300  0.070000
2014-10-20 16:00:00    -5        NaN        62.0          300  0.206667
2014-10-21 08:00:00    -5        NaN        14.0          300  0.046667
2014-10-21 16:00:00    -4        NaN        66.0          259  0.254826
True
27

In [5]:
rn_df['RASS'].count()

95

In [9]:
rn_df[(rn_df.index >= breath_df.index.min()) & (rn_df.index <= breath_df.index.max())]

,RN_entry,patientID,RASS
entry_time,,,
2014-10-16 16:30:00,"[{'DateTime': 2014-10-16 16:30:00, 'index': 34...",110,-2
2014-10-16 20:00:00,"[{'DateTime': 2014-10-16 20:00:00, 'index': 35...",110,-2
2014-10-17 00:00:00,"[{'DateTime': 2014-10-17 00:00:00, 'index': 36...",110,-2
2014-10-17 04:00:00,"[{'DateTime': 2014-10-17 04:00:00, 'index': 37...",110,-2
2014-10-17 07:45:00,"[{'DateTime': 2014-10-17 07:45:00, 'index': 37...",110,-2
2014-10-17 13:00:00,"[{'DateTime': 2014-10-17 13:00:00, 'index': 38...",110,-2
2014-10-17 20:00:00,"[{'DateTime': 2014-10-17 20:00:00, 'index': 40...",110,-2
2014-10-18 00:00:00,"[{'Resp': 12.0, 'DateTime': 2014-10-18 00:00:0...",110,-2
2014-10-18 04:00:00,"[{'Resp': 17.0, 'DateTime': 2014-10-18 04:00:0...",110,-1
2014-10-18 08:00:00,"[{'DateTime': 2014-10-18 08:00:00, 'index': 42...",110,-1
2014-10-18 12:00:00,"[{'DateTime': 2014-10-18 12:00:00, 'index': 43...",110,-1
2014-10-18 16:00:00,"[{'DateTime': 2014-10-18 16:00:00, 'index': 44...",110,-3
2014-10-18 20:00:00,"[{'Resp': 13.0, 'DateTime': 2014-10-18 20:00:0...",110,-2
2014-10-19 00:00:00,"[{'Resp': 20.0, 'DateTime': 2014-10-19 00:00:0...",110,-4
2014-10-19 02:26:00,"[{'DateTime': 2014-10-19 02:26:00, 'index': 46...",110,1
2014-10-19 02:33:00,"[{'DateTime': 2014-10-19 02:33:00, 'index': 46...",110,-2
2014-10-19 03:00:00,"[{'Resp': 24.0, 'DateTime': 2014-10-19 03:00:0...",110,-1
2014-10-19 04:00:00,"[{'Resp': 22.0, 'DateTime': 2014-10-19 04:00:0...",110,-4
2014-10-19 08:00:00,"[{'Resp': 19.0, 'DateTime': 2014-10-19 08:00:0...",110,-4
2014-10-19 12:16:00,"[{'DateTime': 2014-10-19 12:16:00, 'index': 50...",110,-5
2014-10-19 15:53:00,"[{'DateTime': 2014-10-19 15:53:00, 'index': 51...",110,-5
2014-10-19 20:00:00,"[{'DateTime': 2014-10-19 20:00:00, 'index': 52...",110,-5
2014-10-20 00:00:00,"[{'DateTime': 2014-10-20 00:00:00, 'index': 52...",110,-5
2014-10-20 04:00:00,"[{'DateTime': 2014-10-20 04:00:00, 'index': 53...",110,-5
2014-10-20 08:00:00,"[{'DateTime': 2014-10-20 08:00:00, 'index': 53...",110,-5
2014-10-20 12:00:00,"[{'DateTime': 2014-10-20 12:00:00, 'index': 54...",110,-5
2014-10-20 16:00:00,"[{'DateTime': 2014-10-20 16:00:00, 'index': 56...",110,-5
2014-10-20 20:00:00,"[{'DateTime': 2014-10-20 20:00:00, 'index': 57...",110,-5
2014-10-21 00:00:00,"[{'DateTime': 2014-10-21 00:00:00, 'index': 58...",110,-5
2014-10-21 04:00:00,"[{'DateTime': 2014-10-21 04:00:00, 'index': 58...",110,-5
2014-10-21 08:00:00,"[{'DateTime': 2014-10-21 08:00:00, 'index': 59...",110,-5
2014-10-21 12:00:00,"[{'DateTime': 2014-10-21 12:00:00, 'index': 59...",110,-5
2014-10-21 16:00:00,"[{'DateTime': 2014-10-21 16:00:00, 'index': 60...",110,-4

In [44]:
breath_df[pd.to_datetime('2014-10-18 07:12:30'):pd.to_datetime('2014-10-18 08:01:00')]

,analysis.ds,analysis.fl,analysis.ie,analysis.pl,analysis.pvt,patientID,ds_rolling,tot_rolling,ds_freq
start_time,,,,,,,,,
2014-10-18 07:12:30,0,0,1,0,0,110,109,252,0.432540
2014-10-18 07:12:31,NaN,NaN,NaN,NaN,NaN,NaN,109,251,0.434263
2014-10-18 07:12:32,NaN,NaN,NaN,NaN,NaN,NaN,109,251,0.434263
2014-10-18 07:12:33,NaN,NaN,NaN,NaN,NaN,NaN,109,251,0.434263
2014-10-18 07:12:34,1,1,0,0,0,110,109,252,0.432540
2014-10-18 07:12:35,0,0,1,0,0,110,110,252,0.436508
2014-10-18 07:12:36,NaN,NaN,NaN,NaN,NaN,NaN,110,252,0.436508
2014-10-18 07:12:37,NaN,NaN,NaN,NaN,NaN,NaN,110,252,0.436508
2014-10-18 07:12:38,1,1,0,0,0,110,109,252,0.432540
2014-10-18 07:12:39,0,0,1,0,0,110,110,253,0.434783
2014-10-18 07:12:40,NaN,NaN,NaN,NaN,NaN,NaN,110,253,0.434783
2014-10-18 07:12:41,NaN,NaN,NaN,NaN,NaN,NaN,110,252,0.436508
2014-10-18 07:12:42,NaN,NaN,NaN,NaN,NaN,NaN,110,252,0.436508
2014-10-18 07:12:43,0,0,0,0,0,110,110,253,0.434783
2014-10-18 07:12:44,NaN,NaN,NaN,NaN,NaN,NaN,110,252,0.436508
2014-10-18 07:12:45,0,0,1,1,0,110,111,253,0.438735
2014-10-18 07:12:46,NaN,NaN,NaN,NaN,NaN,NaN,111,253,0.438735
2014-10-18 07:12:47,0,0,1,0,1,110,112,254,0.440945
2014-10-18 07:12:48,0,1,0,0,0,110,112,254,0.440945
2014-10-18 07:12:49,NaN,NaN,NaN,NaN,NaN,NaN,111,253,0.438735
2014-10-18 07:12:50,NaN,NaN,NaN,NaN,NaN,NaN,111,253,0.438735
2014-10-18 07:12:51,NaN,NaN,NaN,NaN,NaN,NaN,111,253,0.438735
2014-10-18 07:12:52,NaN,NaN,NaN,NaN,NaN,NaN,111,253,0.438735
2014-10-18 07:12:53,NaN,NaN,NaN,NaN,NaN,NaN,111,252,0.440476
2014-10-18 07:12:54,NaN,NaN,NaN,NaN,NaN,NaN,110,251,0.438247
2014-10-18 07:12:55,NaN,NaN,NaN,NaN,NaN,NaN,110,251,0.438247
2014-10-18 07:12:56,NaN,NaN,NaN,NaN,NaN,NaN,110,250,0.440000
2014-10-18 07:12:57,NaN,NaN,NaN,NaN,NaN,NaN,110,250,0.440000
2014-10-18 07:12:58,NaN,NaN,NaN,NaN,NaN,NaN,109,249,0.437751
2014-10-18 07:12:59,NaN,NaN,NaN,NaN,NaN,NaN,109,249,0.437751
...,...,...,...,...,...,...,...,...,...
2014-10-18 08:00:31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:00:59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2014-10-18 08:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

In [14]:
np.nan/0.0

ZeroDivisionError: float division by zero